html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	font-size: 18px; 
	font-family: 'Work Sans', sans-serif;
	@include breakpoint--a {
	//  overflow: scroll;
	 font-size: 12px;
	}
}

body {
	background: white;
	color: black;
	transition: color 0s linear;
}

.left--wrapper {
	margin: 0 auto;
	width: 50%;
	height: 100%;
	display: inline-block;
	position: absolute;
	border-right: 1px solid black;
	&__info {
		z-index: 3;
		font-size: 1.5em;
		position: absolute;
		margin: 30px 0 0 30px;
		display: inline-block;
		width: calc(50vw - 60px);
		@include breakpoint--a {
			font-size: 1.25em;
			width: calc(50vw - 30px);
			margin: 15px 0 0 15px;
		}
		& #logo {
			// this is variable — will need breakpoints
			height: 20px;
			width: auto;
			display: inline-block;
			transition: display .5s linear;
			@include breakpoint--a {
				height: 11px;
			}
		}
		& #initial {
			display: none;
			// opacity: 0;
			transition: display .5s linear;
		}
		// & #underline {
			// text-decoration: underline;
		// }
		&:hover {
			cursor: pointer;
			& #logo {
				display: none;
				@include breakpoint--a {
					display: inline-block;
				}
			}
			& #initial {
				display: inline-block;
				// opacity: 1;
				@include breakpoint--a {
					display: none;
				}
			}
		}
	}
	&__large {
		z-index: 2;
		font-size: 3.75em;
		letter-spacing: 0.005em;
		display: inline-block;
		position: relative;
		left: 0;
		top: 0;
		animation: moveLeftX 3s linear 0s infinite alternate, moveLeftY 4.5s linear 0s infinite alternate;
		will-change: top, left;
		@include breakpoint--a {
			font-size: 2.25em;
			animation: moveLeftXMobile 1.5s linear 0s infinite alternate, moveLeftYMobile 3s linear 0s infinite alternate;
		}
		&:hover {
			cursor: pointer;
			-webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
		}
	}
}

.right--wrapper {
	margin: 0 auto;
	width: calc(50% - 1px);
	height: 100%;
	display: inline-block;
	position: absolute;
	left: calc(50% + 1px);
	&__info {
		z-index: 3;
		font-size: 1.5em;
		position: absolute;
		margin: 30px 30px 0 0;
		right: 0;
		text-align: right;
		display: inline-block;
		width: calc(50vw - 60px);
		@include breakpoint--a {
			font-size: 1.25em;
			width: calc(50vw - 30px);
			margin: 15px 15px 0 0;
		}
		& a {
			// color: black;
			text-decoration: none;
			&:after{
				content: 'Contact';
			}
			&:hover:after{
				content: 'info@tbd.studio';
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	&__large {
		z-index: 2;
		font-size: 3.75em;
		letter-spacing: 0.005em;
		display: inline-block;
		position: relative;
		left: 0;
		top: 0;
		// negative delay time to start at different points
		animation: moveRightX 3s linear -2s infinite alternate, moveRightY 4.5s linear -2s infinite alternate;
		will-change: top, left;
		@include breakpoint--a {
			font-size: 2.25em;
			animation: moveRightXMobile 1.5s linear 0s infinite alternate, moveRightYMobile 3s linear 0s infinite alternate;
		}
		&:hover {
			cursor: pointer;
			-webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
		}
	}
}

.mobile--text {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-size: 2.25em;
	width: calc(100% - 30px);
	@include breakpoint--a {
		display: inline-block;
	}
}

// --- desktop vars ---
// dependant on type size
$verticalPadding: 10px;
// also dependant on type size
$leftTextWidth: 280px;
// 72px (original height) - 10px (approx. padding)
$leftTextHeight: 78px;
$rightTextWidth: 200px;
// 72px (original height) - 10px (approx. padding)
$rightTextHeight: 79px;
$leftVerticalDist: calc(100vh - #{$leftTextHeight});
$rightVerticalDist: calc(100vh - #{$rightTextHeight});


// --- mobile vars ---
$verticalPaddingMobile: 10px;
// also dependant on type size
$leftTextWidthMobile: 112px;
// 72px (original height) - 10px (approx. padding)
$leftTextHeightMobile: 31px;
$rightTextWidthMobile: 81px;
// 72px (original height) - 10px (approx. padding)
$rightTextHeightMobile: 31px;
$leftVerticalDistMobile: calc(100% - #{$leftTextHeightMobile});
$rightVerticalDistMobile: calc(100% - #{$rightTextHeightMobile});

// --- desktop animations ---
@keyframes moveLeftX {
	0% { 
		left: 0;
	} 
	100% { 
		left: calc(100% - #{$leftTextWidth}); 
	}
}

@keyframes moveLeftY {
	0% { 
		top: -10px;
	} 
	100% { 
		top: $leftVerticalDist; 
	}
}

@keyframes moveRightX {
  0% { 
		left: 0;
	 } 
	 100% { 
		left: calc(100% - #{$rightTextWidth}); 
	}
}

@keyframes moveRightY {
	0% {
		top: $rightVerticalDist; 
	} 
	100% { 
		top: -10px; 
	}
}

// --- mobile animations ---

@keyframes moveLeftXMobile {
	0% { 
		left: 0;
	} 
	100% { 
		left: calc(100% - #{$leftTextWidthMobile}); 
	}
}

@keyframes moveLeftYMobile {
	0% { 
		top: -10px;
	} 
	100% { 
		top: $leftVerticalDistMobile; 
	}
}

@keyframes moveRightXMobile {
  0% { 
		left: 0;
	 } 
	 100% { 
		left: calc(100% - #{$rightTextWidthMobile}); 
	}
}

@keyframes moveRightYMobile {
	0% {
		top: $rightVerticalDistMobile; 
	} 
	100% { 
		top: -10px; 
	}
}
