html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	font-size: 16px; 
	// @include breakpoint--a {
	// 	overflow: scroll;
	//  font-size: 1.25vw;
	// }
}

body {
	background: white;
	color: black;
	transition: color 0s linear;
}

.left--wrapper {
	margin: 0 auto;
	width: 50%;
	height: 100%;
	display: inline-block;
	position: absolute;
	border-right: 1.5px solid black;
	&__large {
		font-size: 4.5em;
		display: inline-block;
		position: relative;
		left: 0;
		top: 0;
		animation: moveLeftX 3s linear 0s infinite alternate, moveLeftY 4.5s linear 0s infinite alternate;
		will-change: top, left;
		&:hover {
			cursor: pointer;
			-webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
		}
	}
}

.right--wrapper {
	margin: 0 auto;
	width: calc(50% - 1.5px);
	height: 100%;
	display: inline-block;
	position: absolute;
	left: calc(50% + 1.5px);
	&__large {
		font-size: 4.5em;
		display: inline-block;
		position: relative;
		left: 0;
		top: 0;
		// negative delay time to start at different points
		animation: moveRightX 3s linear -2s infinite alternate, moveRightY 4.5s linear -2s infinite alternate;
		will-change: top, left;
		&:hover {
			cursor: pointer;
			-webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
		}
	}
}

// dependant on type size
$verticalPadding: 10px;

// also dependant on type size
$leftTextWidth: 296px;
// 83px (original height) - 10px (approx. padding)
$leftTextHeight: 73px;

$rightTextWidth: 212px;
// 83px (original height) - 10px (approx. padding)
$rightTextHeight: 73px;

$leftVerticalDist: calc(100vh - #{$leftTextHeight});
$rightVerticalDist: calc(100vh - #{$rightTextHeight});


@keyframes moveLeftX {
	0% { 
		left: 0;
	} 
	100% { 
		left: calc(100% - #{$leftTextWidth}); 
	}
}

@keyframes moveLeftY {
	0% { 
		top: -10px;
	} 
	100% { 
		top: $leftVerticalDist; 
	}
}

@keyframes moveRightX {
  0% { 
		left: 0;
	 } 
	 100% { 
		left: calc(100% - #{$rightTextWidth}); 
	}
}

@keyframes moveRightY {
	0% {
		top: $rightVerticalDist; 
	} 
	100% { 
		top: -10px; 
	}
}
